  <!-- 
  File: about.ejs
  Name: Shota Ito
  Student#: 301103095
  Date: Oct 7th 2020
   -->

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Main Section -->
<main class="container">  
    <div class="jumbotron">
        <h1 class="section_title">- <%= title %> -</h1>
            <div class="content_about">
              <img src="./Assets/images/my_img.jpg" class="pic_face" alt="Shota's image">
              <p>Hi, my name is <span class="name">Shota Ito</span>. I'm from Gifu, Japan.<br>
              I graduated a college in Japan. After that, I was working at car delar as a sales person for 3 years.
               I came to Canada in June, 2018 to study English. I'm currently learning computer programming at Centennial College. I'm interested in JavaScript. My hobby is watching sports on TV.</p>
            </div>
    </div>
</main>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
