  <!-- 
  File: services.ejs
  Name: Shota Ito
  Student#: 301103095
  Date: Oct 7th 2020
   -->

<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Main Section -->
<main class="container">  
    <div class="jumbotron">
        <h1 class="section_title">- <%= title %> -</h1>

        <div class="card-group">
            <div class="card">
                <img src="./Assets/images/html2.png" class="card-img-top" alt="html">
                <div class="card-footer">
                    <h5 class="text-muted text-center">HTML: 2 years</h5>
                </div>
            </div>

            <div class="card">
                <img src="./Assets/images/css.png" class="card-img-top" alt="css">
                <div class="card-footer">
                    <h5 class="text-muted text-center">CSS: 2 years</h5>
                </div>
            </div>

            <div class="card">
                <img src="./Assets/images/js.png" class="card-img-top" alt="JavaScript">
                <div class="card-footer">
                    <h5 class="text-muted text-center">JS: 1 year</h5>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>
